{
    "timeout": 120,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "infection-log.txt"
    },
    "mutators": {
        "@default": true,
        "InstanceOf_": false,
        "OneZeroInteger": {
            "ignore": [
                "WyriHaximus\\GithubAction\\WaitForStatus\\App::boot"
            ]
        },
        "IncrementInteger": {
            "ignore": [
                "WyriHaximus\\GithubAction\\WaitForStatus\\App::boot"
            ]
        },
        "LogicalNot": {
            "ignore": [
                "WyriHaximus\\GithubAction\\WaitForStatus\\App::boot"
            ]
        },
        "ArrayItemRemoval": {
            "ignore": [
                "WyriHaximus\\GithubAction\\WaitForStatus\\App::boot"
            ]
        },
        "Foreach_": {
            "ignore": [
                "WyriHaximus\\GithubAction\\WaitForStatus\\App::boot"
            ]
        },
        "Continue_": {
            "ignore": [
                "WyriHaximus\\GithubAction\\WaitForStatus\\App::boot",
                "WyriHaximus\\GithubAction\\WaitForStatus\\StatusCheck\\Checks::refresh"
            ]
        },
        "MethodCallRemoval": {
            "ignore": [
                "WyriHaximus\\GithubAction\\WaitForStatus\\App::wait",
                "WyriHaximus\\GithubAction\\WaitForStatus\\App::wait"
            ]
        }
    }
}