{
    "timeout": 120,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "infection-log.txt"
    },
    "mutators": {
        "@default": true,
        "Continue_": {
            "ignore": [
                "WyriHaximus\\GithubAction\\WaitForStatus\\StatusCheck\\Checks::refresh::50"
            ]
        },
        "MethodCallRemoval": {
            "ignore": [
                "WyriHaximus\\GithubAction\\WaitForStatus\\App::wait::57",
                "WyriHaximus\\GithubAction\\WaitForStatus\\App::wait::92"
            ]
        }
    }
}